<script setup>
import AppLogo from './icons/AppLogo.vue'
import ArrowIcon from './icons/IconArrow.vue'
import ErrorIcon from './icons/IconError.vue'

import { ErrorMessage, Field, Form as VeeForm } from 'vee-validate'
import * as Yup from 'yup'

const emailRules = Yup.string()
  .required('Your Email is Required')
  .email('Please provide a valid email')
</script>
<template>
  <div class="w-full h-full card">
    <div class="p-7 animate-pulse md:pl-40 md:pt-12">
      <AppLogo />
    </div>
    <div class="flex flex-col md:flex-row">
      <div class="md:order-last">
        <img
          src="../assets/images/hero-mobile.jpg"
          alt="hero-mobile"
          class="min-w-[370px] w-[410px] md:hidden"
        />
        <img
          src="../assets/images/hero-desktop.jpg"
          alt="hero-desktop"
          class="hidden md:block md:w-[810px] md:h-[800px] md:-mt-28 image"
        />
      </div>
      <div class="main">
        <div class="p-7 flex flex-col justify-center items-center md:pl-40 content md:mt-28">
          <h4
            class="text-center uppercase text-[40px] text-desaturated-red font-light leading-[42px] tracking-[10.825px] md:text-[64px] md:leading-[64px] md:text-left md:tracking-[17.321px]"
          >
            We're
            <span class="text-dark-grayish-red font-semibold">coming soon</span>
          </h4>
          <p
            class="mt-4 text-center text-sm text-desaturated-red leading-[22px] md:text-base md:text-left md:w-[444px] md:-ml-28"
          >
            Hello fellow shoppers! We're currently building our new fashion store. Add your email
            below to stay up-to-date with announcements and our launch deals.
          </p>
          <VeeForm v-slot="{ errors }">
            <form class="mt-8">
              <div
                class="md:-ml-28 w-[311px] h-[48px] flex items-center justify-between rounded-[28px] border border-desaturated-red hover:border-2 hover:border-soft-red focus:outline-none focus:border-dark-grayish-red focus:ring-1 focus:ring-soft-red md:w-[445px] md:h-14"
              >
                <Field
                  class="pl-6 text-sm w-[200px] text-dark-grayish-red placeholder:text-desaturated-red outline-none"
                  name="email"
                  type="email"
                  placeholder="Email Address"
                  :rules="emailRules"
                ></Field>
                <ErrorIcon v-if="Object.keys(errors).length !== 0" />
                <button
                  class="w-16 h-12 rounded-[28px] bg-gradient-to-r from-light-pink to-peach flex justify-center items-center hover:opacity-50 disabled:cursor-not-allowed md:w-[100px] md:h-14 btn"
                  :disabled="Object.keys(errors).length !== 0"
                >
                  <ArrowIcon />
                </button>
              </div>
              <ErrorMessage name="email" class="text-soft-red text-sm md:-ml-24" />
            </form>
          </VeeForm>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@media (min-width: 768px) {
  .card {
    background-image: url('../assets/images/bg-pattern-desktop.svg');
  }
}
.btn {
  box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
}

.main {
  animation: slideInFromLeft 2s ease-in;
}
.image {
  animation: slideInFromRight 2s ease-in;
}

/* Animations */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
</style>
